
CoffeebeanAPI/.vs/

CoffeebeanAPI/CoffeebeanAPI/bin/

CoffeebeanAPI/CoffeebeanAPI/obj/

CoffeebeanAPI/CoffeebeanAPI/Properties/

CoffeebeanAPI/CoffeebeanAPI/appsettings.Development.json

CoffeebeanAPI/CoffeebeanAPI/appsettings.json

CoffeebeanAPI/CoffeebeanAPI/CoffeebeanAPI.csproj.user
